:root {
  --accent: #9d3ebd;
  --secondary: #f6876a;
  --primary3: #d2d0e3;
  --primary2: #aba4da;
  --primary: #50459c;
  --white: #ffffff;
  --bg: #f8f8f8;
  --info: #31ccec;
  --warning: #fcbf49;
  --negative: #e63946;
  --positive: #52b788;
  --gray: #757575;
  --black: #001219;
  --info_bg : #e1f2ff;
  --label-text : #2699fb;
  --border-color:#bce0fd;
  --label-2:#92cdff;

}