:root {
  --accent: rgb(119, 101, 126);
  --secondary: #883b28;
  --primary3: #312d52;
  --primary2: #58ca62;
  --primary: #51459c33;
  --white: #ffffff;
  --bg: #f8f8f8;
  --info: #b731ec;
  --warning: #fcf949;
  --negative: #942c35;
  --positive: #0bc06b;
  --gray: #b9b5b5;
  --black: #195f7a;
  --info_bg : #1f4d70;
  --label-text : #7092af;
  --border-color:#1665a5;
  --label-2:#586977;

}